In [1]:
import pandas as pd
import os

C:\Users\hirsh\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\hirsh\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\hirsh\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'Execute.java',
 'EX_IF_LatchType.java',
 'EX_MA_LatchType.java',
 'IF_EnableLatchType.java',
 'IF_OF_LatchType.java',
 'InstructionFetch.java',
 'MA_RW_LatchType.java',
 'MemoryAccess.java',
 'OF_EX_LatchType.java',
 'OperandFetch.java',
 'RegisterFile.java',
 'RegisterWrite.java',
 'temp.csv',
 'temp_script.py',
 'Untitled.ipynb']

In [3]:
df = pd.read_csv('temp.csv',sep=";")

In [4]:
print(df.iloc[:,:2])

      add   00000
0    addi       1
1     sub      10
2    subi      11
3     mul     100
4    muli     101
5     div     110
6    divi     111
7     and    1000
8    andi    1001
9      or    1010
10    ori    1011
11    xor    1100
12   xori    1101
13    slt    1110
14   slti    1111
15    sll   10000
16   slli   10001
17    srl   10010
18   srli   10011
19    sra   10100
20   srai   10101
21   load   10110
22  store   10111
23   load   10110
24  store   10111
25    end   11101

In [5]:
int("1111",2)

15

In [6]:
# def Decimal(x):
#     x=str(x)
#     print(x)
df.head()

    add   00000    R3-Type rd = rs1 + rs2
0  addi       1   R2I-Type rd = rs1 + imm
1   sub      10    R3-Type rd = rs1 - rs2
2  subi      11   R2I-Type rd = rs1 - imm
3   mul     100    R3-Type rd = rs1 * rs2
4  muli     101   R2I-Type rd = rs1 * imm

In [7]:
df.dtypes
new_df = df.copy()
df.iloc[:,1] = df.iloc[:,1].apply(lambda x: int(str(x),2))

In [8]:
new_df.dtypes

add                        object
00000                       int64
 R3-Type rd = rs1 + rs2    object
dtype: object

In [11]:
df.iloc[:,:2]

      add   00000
0    addi       1
1     sub       2
2    subi       3
3     mul       4
4    muli       5
5     div       6
6    divi       7
7     and       8
8    andi       9
9      or      10
10    ori      11
11    xor      12
12   xori      13
13    slt      14
14   slti      15
15    sll      16
16   slli      17
17    srl      18
18   srli      19
19    sra      20
20   srai      21
21   load      22
22  store      23
23   load      22
24  store      23
25    end      29